body {
    background-color: #333;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#game-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border: 2px solid #777;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

button {
    background-color: #d4af37;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #777;
    border-radius: 5px;
    color: #222;
    background-color: #eee;
}

#output {
    text-align: left;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #444;
    min-height: 100px;
    margin: 10px 0;
    font-size: 16px;
}

#start-button, #submit-button {
    margin: 10px;
}
